## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [10]:
import pandas as pd
weatherdf = pd.read_csv('../weather-raw.csv')
display(weatherdf)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#borro el id y el año porque se repite y no me hace falta ya que sé que son datos del 2010
weatherdf = weatherdf.drop(columns=["id","year"])

In [44]:
oddweatherdf = weatherdf.iloc[1::2]
evenweatherdf = weatherdf.iloc[::2]
display(oddweatherdf)
display(evenweatherdf)

,month,element,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
1,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
3,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
9,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
11,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
13,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,NaN,17.3,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
17,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,12.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
19,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
21,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,month,element,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
2,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
8,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
10,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
12,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,NaN,29.0,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
16,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,28.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
18,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
20,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
evenweatherdf["mediamax"]= evenweatherdf.loc[:, evenweatherdf.columns != 'month'].mean(axis=1,skipna=True)
evenweatherdf["minMax"]= evenweatherdf.loc[:, evenweatherdf.columns != 'month'].min(axis=1,skipna=True)
evenweatherdf["maxMax"]= evenweatherdf.loc[:, evenweatherdf.columns != 'month'].max(axis=1,skipna=True)
oddweatherdf["mediamin"]= oddweatherdf.loc[:, oddweatherdf.columns != 'month'].mean(axis=1,skipna=True)
oddweatherdf["minMin"]= oddweatherdf.loc[:, oddweatherdf.columns != 'month'].min(axis=1,skipna=True)
oddweatherdf["maxMin"]= oddweatherdf.loc[:, oddweatherdf.columns != 'month'].max(axis=1,skipna=True)

C:\Users\macl3\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\macl3\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\macl3\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\macl3\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\macl3\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\macl3\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [49]:
display(evenweatherdf)
display(oddweatherdf)

,month,element,d1,d2,d3,d4,d5,d6,d7,d8,...,d25,d26,d27,d28,d29,d30,d31,mediamax,minMax,maxMax
0,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,27.8,NaN,27.800000,27.8,27.8
2,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.750000,24.1,29.9
4,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.566667,31.1,34.5
6,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,36.3,NaN,NaN,NaN,NaN,36.300000,36.3,36.3
8,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33.2,NaN,NaN,NaN,NaN,33.200000,33.2,33.2
10,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30.1,NaN,NaN,29.050000,28.0,30.1
12,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.250000,28.6,29.9
14,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,NaN,29.0,...,29.7,NaN,NaN,NaN,28.0,NaN,25.4,28.271429,25.4,29.8
16,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,28.1,NaN,...,NaN,NaN,NaN,31.2,NaN,NaN,NaN,28.900000,27.0,31.2
18,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,NaN,NaN,...,NaN,28.1,27.7,NaN,NaN,NaN,NaN,28.120000,26.3,31.3
20,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.850000,27.8,29.9

,month,element,d1,d2,d3,d4,d5,d6,d7,d8,...,d25,d26,d27,d28,d29,d30,d31,mediamin,minMin,maxMin
1,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14.5,NaN,14.500000,14.5,14.5
3,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.225000,10.7,14.4
5,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.200000,14.2,17.6
7,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16.7,NaN,NaN,NaN,NaN,16.700000,16.7,16.7
9,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,18.2,NaN,NaN,NaN,NaN,18.200000,18.2,18.2
11,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.0,NaN,NaN,17.750000,17.5,18.0
13,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.000000,16.5,17.5
15,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,NaN,17.3,...,15.6,NaN,NaN,NaN,15.3,NaN,15.4,15.842857,15.0,17.3
17,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,12.9,NaN,...,NaN,NaN,NaN,15.0,NaN,NaN,NaN,13.080000,10.5,15.0
19,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,NaN,NaN,...,NaN,12.1,14.2,NaN,NaN,NaN,NaN,12.500000,7.9,16.3
21,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.150000,10.5,13.8

In [51]:
evenweatherdf_clean = evenweatherdf[["month","element","mediamax","minMax","maxMax"]]
oddweatherdf_clean = oddweatherdf[["month","element","mediamin","minMin","maxMin"]]
mergedweather = evenweatherdf_clean.merge(oddweatherdf_clean, on="month")
display(mergedweather)

,month,element_x,mediamax,minMax,maxMax,element_y,mediamin,minMin,maxMin
0,1,tmax,27.800000,27.8,27.8,tmin,14.500000,14.5,14.5
1,2,tmax,27.750000,24.1,29.9,tmin,13.225000,10.7,14.4
2,3,tmax,32.566667,31.1,34.5,tmin,16.200000,14.2,17.6
3,4,tmax,36.300000,36.3,36.3,tmin,16.700000,16.7,16.7
4,5,tmax,33.200000,33.2,33.2,tmin,18.200000,18.2,18.2
5,6,tmax,29.050000,28.0,30.1,tmin,17.750000,17.5,18.0
6,7,tmax,29.250000,28.6,29.9,tmin,17.000000,16.5,17.5
7,8,tmax,28.271429,25.4,29.8,tmin,15.842857,15.0,17.3
8,10,tmax,28.900000,27.0,31.2,tmin,13.080000,10.5,15.0
9,11,tmax,28.120000,26.3,31.3,tmin,12.500000,7.9,16.3
10,12,tmax,28.850000,27.8,29.9,tmin,12.150000,10.5,13.8