## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(101),80)
print(sample_list_1)
#range es hasta 101 porque si fuese 100 el rango ser√≠a hasta 99

[0, 80, 46, 24, 1, 7, 63, 98, 84, 35, 47, 3, 76, 32, 64, 10, 11, 33, 92, 71, 93, 70, 14, 68, 75, 25, 50, 81, 26, 9, 12, 5, 69, 72, 27, 45, 44, 41, 30, 95, 89, 65, 40, 34, 67, 58, 49, 83, 61, 87, 94, 51, 79, 6, 90, 48, 20, 4, 78, 36, 97, 23, 15, 2, 57, 19, 62, 21, 52, 59, 39, 31, 60, 37, 100, 22, 17, 38, 13, 43]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = random.sample(range(101),80)

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{98, 36, 37, 6, 39, 12, 45, 76, 47, 48, 17, 23, 24, 90, 31}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{99, 8, 73, 42, 77, 16, 18, 82, 53, 85, 55, 88, 91, 28, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [13]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 2, 3, 4, 5, 7, 9, 10, 11, 13, 14, 15, 19, 20, 21, 22, 25, 26, 27, 30, 32, 33, 34, 35, 38, 40, 41, 43, 44, 46, 49, 50, 51, 52, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 75, 78, 79, 80, 81, 83, 84, 87, 89, 92, 93, 94, 95, 97, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [14]:
# Your code here
print(len(set1),len(set2),len(set3),len(set4),len(set5))
#set 3 = set1 - set2
#set 4 = set2 - set1
#set 5 = set1 & set2

80 80 15 15 65

#### Create an empty set called `set6`.

In [23]:
# Your code here
set6 = set([])

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [24]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [26]:
# Your code here
if set1 == set6:
    print(True)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [28]:
# Your code here
if set1.issubset(set2):
    print("Set1 contains set2")
else:
    print("Set1 does not contains set2")
    
if set1.issubset(set3):
    print("Set1 contains set3")
else:
    print("Set1 does not contains set3")

Set1 does not contains set2
Set1 does not contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [29]:
# Your code here
set3.union(set4,set5)
set1.union(set2)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 55,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100}

#### Using the `pop` method, remove the first element from `set1`.

In [30]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [31]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for e in list_to_remove:
    if e in set1:
        set1.remove(e)
print(set1)

{2, 3, 4, 5, 6, 7, 10, 12, 13, 14, 15, 17, 20, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 52, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 72, 75, 76, 78, 80, 83, 84, 87, 90, 92, 93, 94, 95, 97, 98, 100}